<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title id="WeatherTodayTitle">This is a test</mat-card-title>
            <h3 id="sunTimes"></h3>
        </mat-card-header>
        <mat-card-content>
            <h2 id ="feelsLikeField">Feels Like Test</h2>
            <h3 id ="highLowField">High/Field Test</h3>
            <h3 id ="humidityField">Humidity Test</h3>
            <h3 id ="pressureField">Pressure Test</h3>
            <h3 id ="visibilityField">Visibility Test</h3>
            <h3 id ="windField">Wind Test</h3>
            <h3 id ="dewPointField">Dew Point Test</h3>
            <h3 id ="uvIndexfield">uvIndex</h3>
        </mat-card-content>
    </mat-card>
</div>