.container{
    display: flex; /* Use Flexbox for alignment */
    height: 1vh;
    flex-direction: row; /* Stack children vertically */
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin: 0 auto;
    text-align:center;
}

input#autocomplete{
    width: 10%; /* Set the width of the input field */
    height: 2vh;
}

button.btn{
    height:2vh;
    background-color: #9ACBD0;
    color: #F2EFE7;
}